html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
}

// @font-face {
//   font-family: "BebasNeue";
//   src: url("assets/fonts/BebasNeue.otf") format("opentype");
// }

// @font-face {
//   font-family: "BebasNeueRegular";
//   src: url("assets/fonts/BebasNeue Regular.otf") format("opentype");
// }

// @font-face {
//   font-family: "BebasNeueBold";
//   src: url("assets/fonts/BebasNeueBold.otf") format("opentype");
// }

// @font-face {
//   font-family: "Digital";
//   src: url("assets/fonts/DJB Get Digital.ttf") format("truetype");
// }
